<h4>Add question</h4>

<form action="/add_question/" method="post">
  <label for="question">Question:</label>
  <input id="question" name="question" type="text">

  <label for="answer1">Answer 1:</label>
  <input id="answer1" name="answer1" type="text">

  <label for="answer2">Answer 2:</label>
  <input id="answer2" name="answer2" type="text">

  <label for="answer3">Answer 3:</label>
  <input id="answer3" name="answer3" type="text">

  <label for="answer4">Answer 4:</label>
  <input id="answer4" name="answer4" type="text">

  <label for="answer5">Answer 5:</label>
  <input id="answer5" name="answer5" type="text">



  <button type="submit">Submit</button>
</form>

<a href="/">Home</a>
