<h1>Take a Survey Already, Eh?</h1>

<h3>Here is a list of all available surveys:</h3>

<ul>
  <% @surveys.each() do |survey| %>
    <li>
      <a href="survey/<%= survey.id() %>"><%= survey.name %></a>
    </li>
  <% end %>
</ul>

<h4>Add your own survey here!</h4>

<form action="/" method="post">
  <label for="name">Name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Submit</button>
</form>
